<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citi.stock.mapper.StockSystemUserMapper">

    <resultMap id="BaseResultMap" type="com.citi.stock.entity.StockSystemUser">
            <id property="stocksystemuserId" column="stocksystemuser_id" jdbcType="INTEGER"/>
            <result property="stocksystemuserName" column="stocksystemuser_name" jdbcType="VARCHAR"/>
            <result property="stocksystemuserPassword" column="stocksystemuser_password" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        stocksystemuser_id,stocksystemuser_name,stocksystemuser_password
    </sql>


    <select id="findByUserName"  parameterType="String" resultMap="BaseResultMap">
        select
        *
        from stock_system_user
        where  stocksystemuser_name = #{stocksystemuserName,jdbcType=VARCHAR}
        limit 1
    </select>


    <delete id="deleteByUsername" parameterType="String">
        delete from stock_system_user
        where  stocksystemuser_name = #{stocksystemuserName,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" keyColumn="stocksystemuser_id" keyProperty="stocksystemuserId" parameterType="com.citi.stock.entity.StockSystemUser" useGeneratedKeys="true">
        insert into stock_system_user
        ( stocksystemuser_id,stocksystemuser_name,stocksystemuser_password
        )
        values (#{stocksystemuserId,jdbcType=INTEGER},#{stocksystemuserName,jdbcType=VARCHAR},#{stocksystemuserPassword,jdbcType=VARCHAR}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.citi.stock.entity.StockSystemUser">
        update stock_system_user
        set
            stocksystemuser_password =  #{stocksystemuserPassword,jdbcType=VARCHAR}
        where   stocksystemuser_id = #{stocksystemuserId,jdbcType=INTEGER}
    </update>

</mapper>
