<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citi.stock.mapper.StockMapper">

    <resultMap id="BaseResultMap" type="com.citi.stock.entity.Stock">
            <id property="stockId" column="stock_id" jdbcType="INTEGER"/>
            <result property="stockCode" column="stock_code" jdbcType="VARCHAR"/>
            <result property="stockName" column="stock_name" jdbcType="VARCHAR"/>
            <result property="stockUpdateDate" column="stock_update_date" jdbcType="DATE"/>
            <result property="stockSvg" column="stock_svg" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        stock_id,stock_code,stock_name,
        stock_update_date,stock_svg
    </sql>


    <select id="selectByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock
        limit #{start} offset #{offset}
    </select>
    <select id="getTotalNum" resultType="java.lang.Integer">
        select count(*)
        from stock
    </select>

    <select id="selectStockVOByPage" resultType="com.citi.stock.vo.StockVO">
        select stock_code, stock_name, stock_svg, IFNULL(userfavorites_user_id=1,0)
        from stock left join user_favorites_relation
        on stock_code = userfavorites_stock_code
        limit #{size} offset #{start}
    </select>
    <select id="selectStockVOByCode" resultType="com.citi.stock.vo.StockVO">
        select stock_code, stock_name, stock_svg, IFNULL(userfavorites_user_id=#{uid},0)
        from stock left join user_favorites_relation
        on stock_code = userfavorites_stock_code
        where stock_code = #{code}
    </select>

    <insert id="insert" keyColumn="stock_id" keyProperty="stockId" parameterType="com.citi.stock.entity.Stock" useGeneratedKeys="true">
        insert into stock
        ( stock_id,stock_code,stock_name
        ,stock_update_date,stock_svg)
        values (#{stockId,jdbcType=INTEGER},#{stockCode,jdbcType=VARCHAR},#{stockName,jdbcType=VARCHAR}
        ,#{stockUpdateDate,jdbcType=DATE},#{stockSvg,jdbcType=VARCHAR})
    </insert>


</mapper>
