<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citi.stock.mapper.StockRecordHistoryMapper">

    <resultMap id="BaseResultMap" type="com.citi.stock.entity.StockRecordHistory">
            <id property="stockrecordId" column="stockrecord_id" jdbcType="INTEGER"/>
            <result property="stockCode" column="stock_code" jdbcType="VARCHAR"/>
            <result property="stockrecordDate" column="stockrecord_date" jdbcType="DATE"/>
            <result property="stockrecordOpenPrice" column="stockrecord_open_price" jdbcType="DECIMAL"/>
            <result property="stockrecordEndPrice" column="stockrecord_end_price" jdbcType="DECIMAL"/>
            <result property="stockrecordLow" column="stockrecord_low" jdbcType="DECIMAL"/>
            <result property="stockrecordHigh" column="stockrecord_high" jdbcType="DECIMAL"/>
            <result property="stockrecordVolume" column="stockrecord_volume" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        stockrecord_id,stock_code,stockrecord_date,
        stockrecord_open_price,stockrecord_end_price,stockrecord_low,
        stockrecord_high,stockrecord_volume
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock_record_history
        where  stockrecord_id = #{stockrecordId,jdbcType=INTEGER} 
    </select>
    <select id="selectByStockCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock_record_history
        where stock_code = #{stockCode}
    </select>

    <insert id="insert" keyColumn="stockrecord_id" keyProperty="stockrecordId" parameterType="com.citi.stock.entity.StockRecordHistory" useGeneratedKeys="true">
        insert into stock_record_history
        ( stockrecord_id,stock_code,stockrecord_date
        ,stockrecord_open_price,stockrecord_end_price,stockrecord_low
        ,stockrecord_high,stockrecord_volume)
        values (#{stockrecordId,jdbcType=INTEGER},#{stockCode,jdbcType=VARCHAR},#{stockrecordDate,jdbcType=DATE}
        ,#{stockrecordOpenPrice,jdbcType=DECIMAL},#{stockrecordEndPrice,jdbcType=DECIMAL},#{stockrecordLow,jdbcType=DECIMAL}
        ,#{stockrecordHigh,jdbcType=DECIMAL},#{stockrecordVolume,jdbcType=DOUBLE})
    </insert>



</mapper>
