<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citi.stock.mapper.UserFavoritesRelationMapper">
    <resultMap id="BaseResultMap" type="com.citi.stock.entity.UserFavoritesRelation">
            <result property="userfavoritesUserId" column="userfavorites_user_id" jdbcType="INTEGER"/>
            <result property="userfavoritesStockCode" column="userfavorites_stock_code" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        userfavorites_user_id,userfavorites_stock_code
    </sql>

    <select id="selectByUid" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user_favorites_relation
        where userfavorites_user_id = #{userfavoritesUserId,jdbcType=INTEGER}
    </select>

    <delete id="deleteByUidAndCode">
-- 传入一个对象，这里会自动调取对象的Getter方法
        delete from user_favorites_relation
        where userfavorites_user_id = #{userfavoritesUserId,jdbcType=INTEGER}
        AND userfavorites_stock_code = #{userfavoritesStockCode,jdbcType=VARCHAR}
    </delete>

    <insert id="insertOne">
        insert into user_favorites_relation
        ( userfavorites_user_id,userfavorites_stock_code)
        values (#{userfavoritesUserId,jdbcType=INTEGER},#{userfavoritesStockCode,jdbcType=VARCHAR})
    </insert>

</mapper>
